@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body,html{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
header{
    margin: 20px auto;
    width: 70%;
    text-align: left;    
}
.logo{
    width: 15%;    
    padding: 10px;
    display: inline-block;
    text-align: center;

    
}
.logo div{
    margin-top: 5px;
    font-weight: bold;
    
}

.container{
    display: inline-block;
    vertical-align: top;
    width: 82%;
    margin-left: 1%;
    
}
.horizontal_list{
    float: left;
}
.horizontal_list span{
    padding-right: 10px;
}


.login_register{
    float: right;
    vertical-align: top;
    word-spacing: 1rem;
}
.empty{
    display: inline-block;
    width: 20%;
    height: 70px;
    background-color: whitesmoke;
    
}
.user_actions{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    text-align: left;
}
.user_actions div{
    margin-left: 10px;
}
.user_actions div svg{
    vertical-align: top;
    height: 24;
    width:24;
    
    
}
.action_desc{
    
    text-decoration: underline;
    font-size: 90%;
    vertical-align: middle;
    
    
}
.imgs_block{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    
    letter-spacing: 3rem;
    text-align: center;
    
    
}
.imgs_block img{
    display: inline-block;
    vertical-align: top;
    border: 1px solid;
    
}
.shop_info{
    text-align: center;
    
    display: inline-block;
    vertical-align: top;
    width: 28.9%;
    
    
     
    
}
.shop_info div{
    text-align: left;
    
}

.tabs{
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    height: 40px;
    background-color: #FBCC04;
    padding-left: 10px;
    
    

}

.tabs img{
    vertical-align: middle;
    display: inline-block;
}

.empty_tab_button{
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    width: 100px;
    background-color: black;
}
.tab_content{
    background-color: black;
    padding:9px 10px 12px 10px ;
    font-weight: bold;
}
.tab_content span{
    margin-left: 40px;
}
.test{
   
    float: right;
    padding:4px 15px 12px 10px;
    color:black; font-weight:bold;
    font-size: 150%;

    
    
}
.tab_sale{
    margin-left: auto;
    margin-right: 0;
}