<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/home/css/style.css">
<link rel="stylesheet" href="/home/css/fonts/stylesheet.css">

<main id="ideaparallels">
  
</main>

</body>

<script>
  var swiper = new Swiper(".mySwiper", {});
</script>

<script>
  let colors_array = {{{colors_array}}}
  let offset = 0, timeout_milisec = 2000
  document.getElementById('ideaparallels').style.transition = 'all ' + timeout_milisec/1000 + 's'
  document.getElementById('ideaparallels').style.backgroundColor = colors_array[Math.floor(Math.random() * colors_array.length)]

  for (let i = 0; i < 200; i++) {
    setTimeout(function () {
      document.getElementById('ideaparallels').style.backgroundColor = colors_array[Math.floor(Math.random() * colors_array.length)]
    }, timeout_milisec + offset)
    offset += timeout_milisec
  }

</script>

