<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/home/css/style.css">
<link rel="stylesheet" href="/home/css/S1.css">
<link rel="stylesheet" href="/home/css/S2.css">
<link rel="stylesheet" href="/home/css/S3.css">
<script>
  let ideaparallels_colors = {{{books_colors}}}

</script>

<section class="S1">
  <div class="main-content">

    <div class="about_block">
      <span>Customer-2-Customer платформа для навигации в знаниях и обмена опытом</span>
      <span>Количество статических элементов минимальное, на каждой странице элементы документа меняются в зависимости
        от действий пользователя при помощи <b>vanila JS(всегда искал новые способы избегая jQuery)</b> </span>
      <span>Для визуализации данных был использован <b>D3.js</b></span>
      <span><b>Анимации</b> появления и смена элементов были написаны на <b>CSS</b>. </span>
    </div>

    <div class="line1"></div>
    <div class="main_modules_block">
      <div class="block_name">Основные Node.js модули</div>
      <span><b>Epxress.js</b>, на каждый метод (если пользователь вызывает адрес сайта из истории браузера)
        проверяется заголовок браузера пользователя, если это Android и IOS, то происходит переадресация на
        специальную страницу, так как минимальное количество вертикальных сеток равно 4. </span>
      <span>Субд: <b>Azure Cosmos DB</b> - подходит больше <b>MongoDB</b> для больших не структурированных JSON и
        поддерживает SQL запросы. </span>
      <span><b>cookie-session</b> хранит и использует локальные куки, на npmjs.com в блоках коллаборацией светятся
        создатели Express.js. </span>
      <span>Template engine: <b>express-handlebars</b>, первая строка в README.md: “A Handlebars view engine for
        Express which doesn't suck.” </span>
      <span>Еще была написана платежная система рекуррентных платежей на базе <b>curl запросов</b> через сервиc юкассы
        для ежемесячной подписки, но не введена в эксплуатацию. </span>
      <span>Шифрование паролей - <b>bcryptjs</b>, создание рассылки по почте и css в письмах - <b>nodemailer</b>.
      </span>
    </div>

  </div>
  <div class="sidebar">
    <div class="line2"></div>
    <div class="sidebar-content">
      <a href="https://www.ideaparallels.ru/">
        <div class="ideaparallels_href_rect">ideaparallels</div>
      </a>

      <div class="ui_block">
        <div class="block_name">UI</div>
        <span><b>SwiperJS</b> для страницы книги, <b>GSAP scrollTrigger Parallax</b> для страниц на мобильных
          устройства, <b>SweatAlert2</b> - диалоговые окна. </span>
        <span>В дизайн сайта больше всего подходит широкий и читаемый <b>Montserrat</b> с кастомными отступами между
          строк и слов. </span>
      </div>
      <div class="line3"></div>
      <div class="ux_block">
        <div class="block_name">UX</div>
        <span>Чтобы пользователям было удобнее ориентироваться по сайту, особенно на главной - необходимо создать
          ассоциацию: жанр - цвет. Цвета должны максимально отличаться он друг друга и быть нативно понятными. </span>
        <span>Необходимо было поймать достаточно топорный дизайн лидеров индустрии </span>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.min.js'></script>
  <script src="/home/js/S1-text-animation.js"></script>
  <script>
    document.querySelector('.line1').style.width = "100%"
    document.querySelector('.line3').style.width = "100%"
    init()
  </script>
</section>

<section class="S2">
  <div class="slideshow">
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />
    <img src='/home/content/heart.svg' />



  </div>
  <div class='S2_container'>
    <div class='S2_container_left_block'>
      <span>normalize.min.css - A modern, HTML5-ready alternative to CSS resets</span>
      <span>asscroll x GSAP ScrollTrigger (Smooth parallax)</span>
      <span>Простой fetch jQuery для получение валюты с биржи</span>
      <span>Шрифт: Gotham Pro</span>
    </div>
    <div class="S2_container_right_block">
      <div><a href="/i-love-ny">Сайт - презентация Пятнашки <br>«Я ❤️️ Нью-Йорк»</a></div>
    </div>
  </div>
  <script src="/home/js/S2-carousel.js"></script>
</section>

<section class="S3">
  <div>Портфолио</div>
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FTI8aXprOksJXYH8IErrXSA%2Fportfolio%3Fnode-id%3D0%253A1"
    allowfullscreen></iframe>
  <div>Создание шапки строительного магазина</div>
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fpd0HHUOqpGy3xBAQIp7zch%2FLiveHTML%3Fnode-id%3D0%253A1"
    allowfullscreen></iframe>
  <div>Личные сообщения в HQ</div>
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);"
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FoTIAP3QUx5ccMxnFgWtLv8%2F%25D0%2598%25D0%259D%25D0%25A2%25D0%25A0%25D0%2590%25D0%259D%25D0%2595%25D0%25A2%25D0%25A3%25D0%25A1%3Fnode-id%3D0%253A1"
    allowfullscreen></iframe>
</section>

<nav>
  <ul>
    <li class="M1"></li>
    <li class="M2"></li>
    <li class="M3">
      <svg width="35" height="35" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M18.0555 45.8332C21.8889 45.8332 25 42.7221 25 38.8887V31.9443H18.0555C14.2222 31.9443 11.1111 35.0554 11.1111 38.8887C11.1111 42.7221 14.2222 45.8332 18.0555 45.8332Z"
          fill="#0ACF83" />
        <path
          d="M11.1111 25.0001C11.1111 21.1668 14.2222 18.0557 18.0555 18.0557H25V31.9446H18.0555C14.2222 31.9446 11.1111 28.8334 11.1111 25.0001Z"
          fill="#A259FF" />
        <path
          d="M11.1111 11.1109C11.1111 7.27761 14.2222 4.1665 18.0555 4.1665H25V18.0554H18.0555C14.2222 18.0554 11.1111 14.9443 11.1111 11.1109Z"
          fill="#F24E1E" />
        <path
          d="M25 4.1665H31.9444C35.7778 4.1665 38.8889 7.27761 38.8889 11.1109C38.8889 14.9443 35.7778 18.0554 31.9444 18.0554H25V4.1665Z"
          fill="#FF7262" />
        <path
          d="M38.8889 25.0001C38.8889 28.8334 35.7778 31.9446 31.9444 31.9446C28.1111 31.9446 25 28.8334 25 25.0001C25 21.1668 28.1111 18.0557 31.9444 18.0557C35.7778 18.0557 38.8889 21.1668 38.8889 25.0001Z"
          fill="#1ABCFE" />
      </svg>
    </li>
  </ul>
</nav>

<script src="/home/js/sections-dots.js"></script>


<div class="links_block">
  <div class="links_block_container">
    <a href="https://github.com/AivarGabd">
      <div>
        <svg viewBox="0 0 50 50">
          <g id="github">
            <path d="M 25 0 C 11.1875 0 0 11.1875 0 25 C 0 36.0625 7.15625 45.40625 17.09375 48.71875 
                                  C 18.34375 48.9375 18.8125 48.1875 18.8125 47.53125 
                                  C 18.8125 46.9375 18.78125 44.96875 18.78125 42.875 
                                  C 12.5 44.03125 10.875 41.34375 10.375 39.9375 
                                  C 10.09375 39.21875 8.875 37 7.8125 36.40625 
                                  C 6.9375 35.9375 5.6875 34.78125 7.78125 34.75 
                                  C 9.75 34.71875 11.15625 36.5625 11.625 37.3125 
                                  C 13.875 41.09375 17.46875 40.03125 18.90625 39.375 
                                  C 19.125 37.75 19.78125 36.65625 20.5 36.03125 
                                  C 14.9375 35.40625 9.125 33.25 9.125 23.6875 
                                  C 9.125 20.96875 10.09375 18.71875 11.6875 16.96875 
                                  C 11.4375 16.34375 10.5625 13.78125 11.9375 10.34375 
                                  C 11.9375 10.34375 14.03125 9.6875 18.8125 12.90625 
                                  C 20.8125 12.34375 22.9375 12.0625 25.0625 12.0625 
                                  C 27.1875 12.0625 29.3125 12.34375 31.3125 12.90625 
                                  C 36.09375 9.65625 38.1875 10.34375 38.1875 10.34375 
                                  C 39.5625 13.78125 38.6875 16.34375 38.4375 16.96875 
                                  C 40.03125 18.71875 41 20.9375 41 23.6875 
                                  C 41 33.28125 35.15625 35.40625 29.59375 36.03125 
                                  C 30.5 36.8125 31.28125 38.3125 31.28125 40.65625 
                                  C 31.28125 44 31.25 46.6875 31.25 47.53125 
                                  C 31.25 48.1875 31.71875 48.96875 32.96875 48.71875 
                                  C 42.84375 45.40625 50 36.03125 50 25 
                                  C 50 11.1875 38.8125 0 25 0 Z M 25 0 " />
          </g>

        </svg>
      </div>
    </a>



    <a href="https://codepen.io/Aivar/pens/loved">
      <div>
        <svg viewBox="0 0 512 512">
          <g transform="translate(0,512) scale(0.1,-0.1)" id="codepen">
            <path d="M2495 5109 c-16 -4 -569 -369 -1230 -809 -847 -565 -1207 -810 -1223
                -834 -12 -18 -27 -48 -32 -67 -13 -46 -13 -1632 0 -1678 5 -19 20 -49 32 -67
                16 -24 377 -270 1229 -838 1278 -852 1237 -827 1331 -811 56 10 2441 1597
                2476 1649 12 18 27 48 32 67 13 46 13 1632 0 1678 -5 19 -20 49 -32 67 -27 40
                -2402 1628 -2458 1644 -41 12 -84 12 -125 -1z m-155 -1132 l0 -514 -467 -313
                c-257 -173 -474 -314 -483 -314 -16 -1 -770 493 -769 504 0 4 1707 1147 1717
                1149 1 1 2 -230 2 -512z m2159 -637 c0 -5 -744 -502 -761 -509 -5 -2 -223 140
                -484 315 l-474 318 0 513 0 513 860 -572 c473 -315 859 -575 859 -578z m-1554
                -517 c212 -141 385 -259 385 -263 0 -4 -173 -122 -385 -263 l-385 -257 -385
                257 c-212 141 -384 260 -383 265 2 6 754 514 766 517 1 1 175 -114 387 -256z
                m-1970 -263 c0 -5 -120 -90 -267 -189 l-268 -180 0 369 0 369 268 -180 c147
                -99 267 -184 267 -189z m3705 1 l0 -368 -267 178 c-148 99 -268 184 -268 189
                0 7 497 351 533 369 1 0 2 -165 2 -368z m-2806 -591 l466 -313 0 -514 0 -513
                -860 572 c-473 315 -859 575 -859 578 0 13 756 509 771 506 9 -2 226 -144 482
                -316z m2250 65 c206 -137 375 -252 375 -255 0 -3 -386 -263 -859 -578 l-860
                -572 0 513 0 513 473 317 c259 174 477 316 483 315 7 -2 181 -115 388 -253z" />
          </g>
        </svg>
      </div>
    </a>

    <a href="https://dribbble.com/Aivar/likes">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
          <path
            d="M0 500c0-90.667 22.334-174.333 67-251 44.667-76.667 105.334-137.333 182-182C325.667 22.333 409.334 0 500 
                        0c90.667 0 174.334 22.333 251 67 76.667 44.667 137.334 105.333 182 182 44.667 76.667 67 160.333 67 251s-22.333 
                        174.333-67 251c-44.666 76.667-105.333 137.333-182 182-76.666 44.667-160.333 67-251 
                        67-90.666 0-174.333-22.333-251-67-76.666-44.667-137.333-105.333-182-182C22.334 674.333 0 590.667 0 
                        500zm83 0c0 104 35 195.667 105 275 32-62.667 82.667-122.333 152-179 69.334-56.667 137-92.333 
                        203-107-10-23.333-19.666-44.333-29-63-114.666 36.667-238.666 55-372 55-26 0-45.333-.333-58-1 0 
                        2.667-.166 6-.5 10-.333 4-.5 7.333-.5 10zm13-103c14.667 1.333 36.334 2 65 2 111.334 0 217-15 
                        317-45-50.666-90-106.333-165-167-225-52.666 26.667-97.833 63.667-135.5 111-37.666 47.333-64.166 
                        99.667-79.5 157zm149 432c75.334 58.667 160.334 88 255 88 49.334 0 98.334-9.333 147-28-13.333-114-39.333-224.333-78-331-61.333 
                        13.333-123.166 47-185.5 101C321.167 713 275 769.667 245 829zM398 97c58.667 60.667 113 136.333 163 227 90.667-38 159-86.333 
                        205-145-77.333-64-166-96-266-96-34 0-68 4.667-102 14zm199 298c10 21.333 21.334 48.333 34 81 49.334-4.667 103-7 161-7 41.334 0 
                        82.334 1 123 3-5.333-90.667-38-171.333-98-242-43.333 64.667-116.666 119.667-220 165zm59 151c34 98.667 57 200 69 304 52.667-34 
                        95.667-77.667 129-131 33.334-53.333 53.334-111 60-173-48.666-3.333-93-5-133-5-36.666 0-78.333 1.667-125 5z" />
        </svg>

      </div>
    </a>

    <a href="https://www.behance.net/aivargabdr4f14/moodboards">
      <div>
        <svg enable-background="new 0 0 56.693 56.693" viewBox="0 0 56.693 56.693" xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g>
            <path
              d="M38.031,27.257c-3.174,0-3.615,3.168-3.615,3.168h6.748C41.164,30.425,41.207,27.257,38.031,27.257z" />
            <path
              d="M22.721,30.425h-5.982v5.492h5.296c0.09,0,0.225,0.002,0.383,0c0.852-0.02,2.467-0.268,2.467-2.67   
              C24.885,30.396,22.721,30.425,22.721,30.425z" />
            <path
              d="M28.348,5.101c-13.6,0-24.625,11.023-24.625,24.623c0,13.6,11.025,24.625,24.625,24.625   
              c13.598,0,24.623-11.025,24.623-24.625C52.971,16.125,41.945,5.101,28.348,5.101z M33.531,20.231h8.477v2.53h-8.477V20.231z    
              M29.246,33.503c0,6.271-6.525,6.064-6.525,6.064h-5.982h-0.175h-4.535V19.021h4.535h0.175h5.982c3.248,0,5.812,1.794,5.812,5.47   
              c0,3.676-3.135,3.91-3.135,3.91C29.531,28.401,29.246,33.503,29.246,33.503z M45.104,33.167H34.457   
              c0,3.816,3.615,3.576,3.615,3.576c3.414,0,3.295-2.211,3.295-2.211h3.617c0,5.867-7.033,5.465-7.033,5.465   
              c-8.436,0-7.893-7.855-7.893-7.855s-0.008-7.893,7.893-7.893C46.268,24.249,45.104,33.167,45.104,33.167z" />
            <path
              d="M24.174,24.81c0-2.137-1.453-2.137-1.453-2.137h-0.77h-5.212v4.584h5.611C23.318,27.257,24.174,26.946,24.174,24.81z" />
          </g>
        </svg>

      </div>
    </a>

  </div>
</div>





</body>