<link rel="stylesheet" href="/art-lebedev/css/life.css">
<main>
    {{> head}}
    <div class="container">
        <img class="img" src="/art-lebedev/content/life/i-love-ny-life.jpg">      
    </div>
</main>
</body>