<link rel="stylesheet" href="/art-lebedev/css/process.css">
<main>
    {{> head}}
    <div class="container">
        <div class="container_text">Идея в «Мозге».</div>
        <img class="img" src="/art-lebedev/content/process/i-love-ny-process-01.gif">
    </div>

    <div class="container">
        <div class="container_text">Изучаем предпроизводственные образцы.</div>
        <img class="img" src="/art-lebedev/content/process/i-love-ny-process-02.jpg">      
        <img class="img" src="/art-lebedev/content/process/i-love-ny-process-03.jpg">     
        <img class="img" src="/art-lebedev/content/process/i-love-ny-process-04.jpg">     
        <img class="img" src="/art-lebedev/content/process/i-love-ny-process-05.jpg">
        <img class="img" src="/art-lebedev/content/process/i-love-ny-process-06.jpg">     
    </div>
    <br><br>

</main>
</body>