<link rel="stylesheet" href="/ideaparallels-text-editor/css/styles.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    let texts = {{{texts}}}
</script>
<main>
    <div class="chapter">
        Глава 1 Ничем не выделяющееся животное
    </div>

    <div class="subchapter">
        Скелеты в шкафу
    </div>
    <div class="subchapter_block" id="subchapter_block0">
        <div class="idea_block">
            <button class="add_content" title="Добавить идею" onclick="add_idea(this)" id="0">+</button>
        </div>
    </div>

    <div class="subchapter">
        Цена разума
    </div>
    <div class="subchapter_block" id="subchapter_block1">
        <div class="idea_block">
            <button class="add_content" title="Добавить идею" onclick="add_idea(this)" id="1">+</button>
        </div>
    </div>

</main>

<script>


    function add_idea(element) {
        let subchapter_texts_array = document.getElementsByClassName('subchapter_add_idea_block')
        for (i = 0; i < subchapter_texts_array.length; i++) {
            subchapter_texts_array[i].remove()
        }




        let subchapter_add_idea_block = document.createElement('div')
        subchapter_add_idea_block.classList.toggle('subchapter_add_idea_block')
        subchapter_add_idea_block.setAttribute('id', 'subchapter_add_idea_block' + element.id)
        subchapter_add_idea_block.innerHTML = "Выделите идею, которую хотели добавить к книге как обычный текст."

        let cancel_button = document.createElement('button')
        cancel_button.classList.toggle('cancel_button')
        cancel_button.innerHTML = "X"
        cancel_button.onclick = function () {

            let idea_blocks_array = document.getElementsByClassName('idea_block')
            for (let i = 0; i < idea_blocks_array.length; i++) {
                idea_blocks_array[i].style.display = "flex"
            }

            let subchapter_texts_array = document.getElementsByClassName('subchapter_add_idea_block')
            for (i = 0; i < subchapter_texts_array.length; i++) {
                subchapter_texts_array[i].remove()
            }




        }
        subchapter_add_idea_block.appendChild(cancel_button)

        let subchapter_text = document.createElement('div')
        subchapter_text.classList.toggle('subchapter_text')
        subchapter_text.setAttribute('id', 'subchapter_text')
        subchapter_text.onmouseup = () => {
            if (getSelectionText()) {

                Swal.fire({
                    title: '',
                    html:
                        '<div class="sweetalert_header">Добавить идею?</div>' +
                        '<div class="sweetalert_idea" id="sweetalert_idea">' +
                        getSelectionText() +
                        '</div>' +
                        '<button onclick="submit_add_idea()" class="sweetalert_button">Добавить</button>' +
                        '<button onclick="cancel_add_idea()" class="sweetalert_button">Отмена</button>',
                    customClass: 'swal-wide',
                    showCancelButton: false,
                    showConfirmButton: false
                })

                clear_all_selections()
            }
        };




        let paragraphs_array = texts.find(x => x.id == element.id).text
        paragraphs_array.forEach(paragraph_text => {
            let paragraph = document.createElement('div')
            paragraph.classList.toggle('paragraph')
            paragraph.innerHTML = paragraph_text
            paragraph.setAttribute('spellcheck', false)
            subchapter_text.appendChild(paragraph)
        })


        let idea_blocks_array = document.getElementsByClassName('idea_block')
        for (let i = 0; i < idea_blocks_array.length; i++) {
            idea_blocks_array[i].style.display = "none"
        }

        subchapter_add_idea_block.appendChild(subchapter_text)
        document.getElementById('subchapter_block' + element.id).appendChild(subchapter_add_idea_block);
        subchapter_text.style.height = subchapter_text.scrollHeight + "px"
    }

    function submit_add_idea() {
        console.log(document.getElementById('sweetalert_idea').innerHTML)
    }

    function cancel_add_idea() {
        Swal.close();
    }

    function clear_all_selections() {
        if (window.getSelection) {
            if (window.getSelection().empty) {
                window.getSelection().empty();
            } else if (window.getSelection().removeAllRanges) {
                window.getSelection().removeAllRanges();
            }
        } else if (document.selection) {
            document.selection.empty();
        }
    }





    function getSelectionText() {

        var text = "";
        var activeEl = document.activeElement;
        var activeElTagName = activeEl ? activeEl.tagName.toLowerCase() : null;
        if (
            (activeElTagName == "textarea") || (activeElTagName == "input" &&
                /^(?:text|search|password|tel|url)$/i.test(activeEl.type)) &&
            (typeof activeEl.selectionStart == "number")
        ) {
            text = activeEl.value.slice(activeEl.selectionStart, activeEl.selectionEnd);
        } else if (window.getSelection) {
            text = window.getSelection().toString();
        }
        return text.length > 0 ? text : false

    }
</script>