body{
    background-color: #dddddd;
}

.container{
    padding-bottom: 200px;
}

.img{
    display: block;
    width: 100%;
    height: auto;
    margin: 1% auto auto auto; 
}
@media (min-width: 56.25em) {
    .img{
        width: 50%;
        height: auto;
    }
}

