
.container{
    position: relative;
    margin: 0 auto;
    z-index: 2;
    width: 100%;
    text-align: center;  
    height: fit-content;

    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

@media (min-width: 56.25em) {
  .container{
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
  }
}


.container_content {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.container_content_block{
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
}

.container_text_block{
  text-align: left;
  margin: 5% auto auto auto;
  font-size: 110%; 
}

@media (min-width: 56.25em) {
    .container_text_block{
        font-size: 130%;
        width: 750px;
        
    }
}

.container_img{
    width: 100%;
    height: auto;
    margin: 1% auto auto auto;
}
@media (min-width: 56.25em) {
    .container_img{
        width: 50%;
        height: auto;
    }
}


@media (min-width: 56.25em) {
    .footer{
        font-size: 200%;
        width: 1000px;
    }
}
.footer{
    margin: 5% auto auto auto;
    background-color: white;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 6px 6px 0px 0px;
    padding: 13px;
    font-size: 90%;
    text-align: left;
}

@media (min-width: 56.25em) {
    .footer {
      display: flex;
    }
    .right{
      order: 2;
      -webkit-order: 2;
    }
  }
  
  
  .left {
    flex: 0 1 30%;
    text-align: center;
    
  }
  
  .middle{
    flex: 0 0 40%;
    text-align: center;
    
  }
  
  
  .right  {
    flex: 0 0 30%;
    text-align: center;

  }
  
  .purchase_block{
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
  }


  .footer_img{
    width: 70%;
  }

@media (min-width: 56.25em) {
    .footer_img{
        width: 80%;
        height: auto;
    }
}

.art_container{
  margin-top: 14px;
}
.art_name{
  font-weight: bold;
  padding-bottom: 3px;
}
.art_container a{
  color: #6c6cff;
  cursor: pointer;
  border-bottom: 1px solid #6c6cff;
}
.art_container a:hover{
  color: #fc3c17;
  border-bottom: 1px solid #fc3c17;
  margin-left: -5px;
}
.purchase_block_head{
  font-size: 120%;
  padding: 5px;
}
.purchase_block_info{
  margin-top: 5px;
}
.purchase_block_info a{
  color: #6c6cff;
  cursor: pointer;
  border-bottom: 1px solid #6c6cff;
  
}
.purchase_block_info a:hover{
  color: #fc3c17;
  border-bottom: 1px solid #fc3c17;
  margin-left: -5px;
}
.currency_container{
  font-size: 110%;
  font-weight: bold;
  
}

.currency{
  font-size: 110%;  
}
.rur{
  font-family: 'ArialRub';
}

.more_info{
  text-align: left;
  font-size: 90%;
  margin: 10% 10px 10px 10px;
}
@media (min-width: 56.25em) {
  .more_info{
    margin: 60% 10px 10px 10px;
  }
}
