body{
    background-color: whitesmoke;
}

.container{
    margin-top: 5%;
    padding-bottom: 5%;
}
.container_text{
    font-size: 130%;
}

.img{
    display: block;
    width: 100%;
    height: auto;
    margin: 1% auto auto auto; 
}
@media (min-width: 56.25em) {
    .img{
        width: 35%;
        height: auto;
    }
}