* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #816890;
}

main {
    background-color: white;
    width: 70%;
    margin: 5% auto;
    text-align: left;
    padding: 10px;
    border-radius: 4px;
}

.chapter {
    font-size: 150%;
}

.subchapter {
    font-size: 120%;
    margin: 20px 20px auto;
}

.subchapter_block {
    width: 95%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.idea_block {
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.add_content {
    font-size: 250%;
    border: 0;
    background-color: transparent;
    margin: auto;
}

.add_content:hover {
    text-decoration: underline;
}

.subchapter_add_idea_block {
    width: 97%;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    background-color: whitesmoke;
    margin: 0 auto;
}

.subchapter_text {
    text-decoration: none;
    width: 90%;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 95%;
    user-select: text;
    background-color: white;
}

.cancel_button {
    background-color: transparent;
    border: 0;
    font-size: 200%;
    float: right;
    color: rgb(49, 49, 49);
}

.cancel_button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.paragraph {
    text-indent: 20px;
    line-height: 1.5;
    word-spacing: 2;
    margin-top: 10px;
}

.paragraph::selection {
    color: white;
    background: #816890;
}

.swal-wide {
    width: 40% !important;
}

.sweetalert_header {
    color: black;
    font-size: 110%;
}

.sweetalert_idea {
    font-size: 90%;
    color: black;
    padding-bottom: 20px;
}

.sweetalert_button {
    border: 0;
    background-color: transparent;
    font-size: 100%;
}

.sweetalert_button:hover {
    text-decoration: underline;
}