#cards {
    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    margin-bottom: var(--card-margin);
}

#card_1 {
    --index: 1;
}

#card_2 {
    --index: 2;
}

#card_3 {
    --index: 3;
}

#card_4 {
    --index: 4;
}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
    width: 34%;
    margin: 0 auto;
}

#cards {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
}

.card__content {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 10%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.card_name {
    padding-bottom: 30px;
    font-size: 120%;
}

.card_text {
    text-align: center;
    margin: auto;
    width: 100%;
}

.nodejs_block {
    transition: all 2s;
    animation: fade-in 0.2s;
    width: 80%;
    margin: 10px auto;
}

.Frontend_block {
    transition: all 2s;
    animation: fade-in 0.2s;
    width: 80%;
    margin: 10px auto;
}

.UX_block {
    margin-top: 10px;
}

@supports (animation-timeline: works) {
    @scroll-timeline cards-element-scrolls-in-body {
        source: selector(body);
        scroll-offsets: /* Start when the start edge touches the top of the scrollport */
        selector(#cards) start 1, /* End when the start edge touches the start of the scrollport */
        selector(#cards) start 0;
        start: selector(#cards) start 1;
        /* Start when the start edge touches the top of the scrollport */
        end: selector(#cards) start 0;
        /* End when the start edge touches the start of the scrollport */
        time-range: 4s;
    }
    .card {
        --index0: calc(var(--index) - 1);
        /* 0-based index */
        --reverse-index: calc(var(--numcards) - var(--index0));
        /* reverse index */
        --reverse-index0: calc(var(--reverse-index) - 1);
        /* 0-based reverse index */
    }
    .card__content {
        transform-origin: 50% 0%;
        will-change: transform;
        --duration: calc(var(--reverse-index0) * 1s);
        --delay: calc(var(--index0) * 1s);
        animation: var(--duration) linear scale var(--delay) forwards;
        animation-timeline: cards-element-scrolls-in-body;
    }
    @keyframes scale {
        to {
            transform: scale(calc( 1.1 - calc(0.1 * var(--reverse-index))));
        }
    }
}