    .main_card {
        text-align: center;
        width: 40%;
        height: 300px;
        margin: 0% auto auto auto;
        padding: 10%;
        animation: fade-in 0.2s;
    }
    
    .main_info_block {
        padding: 10px;
        text-align: left;
        letter-spacing: 20px;
    }
    
    .main_info_block a {
        text-decoration: none;
    }
    
    .main_info_block a div {
        display: inline-block;
        padding: 5px;
        border-radius: 50%;
        -webkit-transition: background 1s, border-radius 1s;
        transition: background 1s, border-radius 1s;
    }
    
    .main_info_block a div:hover {
        border-radius: 0%;
    }
    
    .main_info_block a svg {
        width: 25;
        height: 25;
        transition: all 0.5s;
        animation: fade-in 0.5s;
    }
    
    .ideaparallels_svg {
        fill: white;
        background-color: #dddddd59;
    }
    
    .art_lebedes_svg {
        fill: white;
        background-color: #fc3c17;
    }
    
    .tab {
        text-align: left;
    }
    
    .tab button {
        display: inline-block;
        font-size: 120%;
        background-color: transparent;
        border: 0;
        border-radius: 20px;
        padding: 5px 10px 5px 10px;
        transition: all 0.5s;
    }
    
    .active_tab_button {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }
    
    .tab button:hover {
        cursor: pointer;
    }
    
    #ideaparallels-tab-button,
    #ideaparallels {
        background-color: rgba(255, 255, 255, .3);
    }
    
    #art-lebedev-patnashki-tab-button,
    #art-lebedev-patnashki {
        background-color: whitesmoke;
    }
    
    #art-lebedev-patnashki-tab-button {
        text-decoration: underline;
        text-decoration-color: #fc3c17;
    }
    
    .swiper-container {
        margin-top: 10px;
        border-radius: 10px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .swiper-slide {
        font-size: 200%;
        height: 100%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .swiper-slide a {
        text-decoration: none;
        color: #6c6cff;
        border-bottom: 3px solid #6c6cff;
        transition: all 0.5s;
    }
    
    .swiper-slide a:hover {
        color: navy;
        border-bottom: 3px solid navy;
        font-size: 105%;
    }