::-webkit-scrollbar {
    width: 0px;
}

* {
    box-sizing: border-box;
}

:root {
    --swiper-theme-color: black !important;
    --swiper-navigation-size: 30px !important;
    --card-height: 40vw;
    --card-margin: 4vw;
    --card-top-offset: 2em;
    --numcards: 4;
    --outline-width: 0px;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 2s;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    z-index: -3;
    background-color: whitesmoke;
}

#background_color {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
}

header {
    width: 80vw;
    margin: 0 auto;
    height: 70vh;
    place-items: center;
}

main {
    width: 80vw;
    margin: 100px auto;
    place-items: center;
}

#background_color {
    height: 102%;
    width: 100%;
    z-index: -2;
    position: absolute;
    transition: all 2s;
    animation: fade-in 0.2s;
    background-color: whitesmoke;
}

.art-lebedev-patnashki-background {
    background: url("data:image/svg+xml;utf8,<svg width='76' height='69' version='1.1' xmlns='http://www.w3.org/2000/svg' style='background: transparent;'> <path style='fill: red;' d='M 11.648438 0.644531 C 6.039062 1.609375 2.105469 5.492188 0.53125 11.691406 C -0.0429688 13.882812 0 17.980469 0.617188 20.273438 C 1.847656 24.929688 5.464844 30.445312 10.4375 35.292969 C 13.777344 38.554688 16.113281 40.25 22.003906 43.617188 L 25.191406 45.464844 L 26.574219 44.691406 C 33.332031 40.914062 37.796875 37.417969 42.242188 32.417969 C 46.003906 28.171875 48.425781 24.007812 49.363281 20.253906 C 49.914062 17.9375 50.019531 13.472656 49.554688 11.585938 C 49.128906 9.871094 47.578125 6.738281 46.449219 5.320312 C 43.113281 1.117188 35.714844 -0.644531 31.144531 1.652344 C 29.570312 2.46875 27.507812 3.992188 25.894531 5.535156 L 24.449219 6.929688 L 24 6.308594 C 23.746094 5.964844 22.746094 4.914062 21.789062 3.96875 C 18.730469 0.945312 15.730469 -0.0429688 11.648438 0.644531 Z M 11.648438 0.644531'></path></svg> ");
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}