
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
::-webkit-scrollbar {
    width: 0px;
  }
  
  body{
    margin:0 15% 0 15%; 
  }
  
  header{
    background-color: white;
    position: fixed;
    width: 70%;
    text-align: center;
    font-size: 200%;
    padding: 20px;
    z-index: 1;
  }
  .tab-button{
    font-family: 'Helvetica', 'Arial', sans-serif;  
    font-size: 60%;
    border: 0;
    background-color: transparent;
    padding: 20px;
    color: hsl(0, 0%, 25%);
  }
  
  .active_tab_button{
    border-width: 0 0 1px;
    border-style: solid;
  }
  
  .past_active_tab_button{
    border-width: 0 0 0px;
    border-style: solid;
  }
  
  
  main {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    position: relative;
    max-height: 100vh;
    overflow-y: auto;
    color: black;
  }
  
  
  article {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
  }

  .ideaparallels-container{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif; 
  }
  

  
  article:nth-of-type(2) {
    background-color: white;
  }
  