@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

main {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
}

.ideaparallels a {
  color: #6c6cff;
  text-decoration: none;
  border-bottom: 2px solid #6c6cff;
  font-size: 200%;
}

.art-lebedev-patnaski {
  font-family: "Gotham Pro";
  background-color: gray;
}
